.content.experiences .img-container {
  width: 300px;
  margin: 30px auto;
  transition: max-height 2s;
}
.content.experiences .img-container.step1 {
  max-height: 130px;
  overflow: hidden;
}
.content.experiences .img-container.step2 {
  max-height: 265px;
  overflow: hidden;
}
.content.experiences .img-container.step3 {
  max-height: 400px;
  overflow: hidden;
}
.content.experiences .img-container img.desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .content.experiences .img-container {
    max-width: 45vw;
    height: auto;
    margin: 50px auto;
    transition: width 2s;
  }
  .content.experiences .img-container img.mobile {
    display: none;
  }
  .content.experiences .img-container img.desktop {
    display: block;
    height: auto;
    width: 45vw;
  }
  .content.experiences .img-container.step1 {
    max-height: none;
    width: 14.85vw;
    overflow: hidden;
  }
  .content.experiences .img-container.step2 {
    width: 29.7vw;
    overflow: hidden;
  }
  .content.experiences .img-container.step3 {
    width: 45vw;
    overflow: hidden;
  }
}
.content.experiences p {
  text-align: left;
  color: #4191B5;
  font-size: 1.3rem;
}
.content.experiences .selector {
  position: relative;
  width: 90px;
  height: 13px;
  margin: 0 auto;
}
.content.experiences .selector .line {
  position: absolute;
  top: 6px;
  border-bottom: 2px solid #161430;
  width: 100%;
}
.content.experiences .selector .circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #161430;
  top: 50%;
}
.content.experiences .selector .circle.active {
  width: 13px;
  height: 13px;
}
.content.experiences .selector div:nth-child(2) {
  left: 0;
  transform: translateY(-50%);
}
.content.experiences .selector div:nth-child(3) {
  left: 50%;
  transform: translate(-50%, -50%);
}
.content.experiences .selector div:nth-child(4) {
  left: 100%;
  transform: translate(-100%, -50%);
}
.content.experiences .buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.content.experiences .buttons button {
  height: 60px;
  width: 160px;
  border-radius: 24px;
  border: 3px solid #161430;
  font-size: 1.6rem;
}
.content.experiences .buttons button:hover {
  cursor: pointer;
}
.content.experiences .buttons button:nth-child(1) {
  background-color: transparent;
  color: #161430;
}
.content.experiences .buttons button:nth-child(2) {
  color: #F4FBFE;
  background-color: #161430;
}
@media screen and (min-width: 1024px) {
  .content.experiences .buttons {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .content.experiences .buttons {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .content.experiences .card-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.content.experiences .card {
  margin: 20px auto;
}
@media screen and (min-width: 1024px) {
  .content.experiences .card {
    flex-basis: 70%;
  }
  .content.experiences .card:first-of-type {
    flex-basis: 40%;
  }
  .content.experiences .card:last-of-type {
    flex-basis: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .content.experiences .card {
    flex-basis: 60%;
  }
  .content.experiences .card:first-of-type {
    flex-basis: 30%;
  }
  .content.experiences .card:last-of-type {
    flex-basis: 95%;
  }
}
.content.experiences .card h3 {
  text-transform: uppercase;
  color: #161430;
  font-size: 1.6rem;
  font-weight: 500;
}
.content.experiences .card .graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: -10px;
}
.content.experiences .card .graph .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.content.experiences .card .graph .skill p {
  position: absolute;
  bottom: 0px;
  white-space: nowrap;
}
.content.experiences .card .graph .bar {
  height: 80px;
  width: 30px;
  position: relative;
  margin-bottom: 23px;
}
.content.experiences .card .graph .bar .gauge-bg {
  height: 100%;
  background-color: #24468F;
  opacity: 18%;
  border-radius: 5px;
}
.content.experiences .card .graph .bar .gauge {
  width: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}
.content.experiences .card .graph .break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .content.experiences .card .graph .break {
    display: none;
  }
}
.content.experiences .card .graph .mysql .gauge {
  height: 60%;
  background-color: #FF7A23;
}
.content.experiences .card .graph .postgresql .gauge {
  height: 65%;
  background-color: #2769B8;
}
.content.experiences .card .graph .mongodb .gauge {
  height: 70%;
  background-color: #46BB5C;
}
.content.experiences .card .graph .html .gauge {
  height: 30%;
  background-color: #FF7A23;
}
.content.experiences .card .graph .css .gauge {
  height: 40%;
  background-color: #2769B8;
}
.content.experiences .card .graph .js .gauge {
  height: 35%;
  background-color: #FFEA3D;
}
.content.experiences .card .graph .sass .gauge {
  height: 30%;
  background-color: #E42C1A;
}
.content.experiences .card .graph .react .gauge {
  height: 20%;
  background-color: #00B8F1;
}
.content.experiences .card .graph .prestashop .gauge {
  height: 15%;
  background-color: #FB3099;
}
.content.experiences .card .graph .wordpress .gauge {
  height: 10%;
  background-color: #1490D0;
}
.content.experiences .card .graph .linux .gauge {
  height: 60%;
  background-color: #2B2E34;
}
.content.experiences .card .graph .vmware .gauge {
  height: 50%;
  background-color: #FF7A23;
}
.content.experiences .card .graph .vagrant .gauge {
  height: 40%;
  background-color: #11389D;
}
.content.experiences .card .graph .ansible .gauge {
  height: 70%;
  background-color: #E42C1A;
}
.content.experiences .card .graph .molecule .gauge {
  height: 40%;
  background-color: #59CBB7;
}
.content.experiences .card .graph .python .gauge {
  height: 50%;
  background-color: #F3E55E;
}
.content.experiences .card .graph .inspec .gauge {
  height: 15%;
  background-color: #FFB337;
}
.content.experiences .card .graph .gitlab .gauge {
  height: 80%;
  background-color: #FF4E1B;
}
.content.experiences .card .graph .rpm .gauge {
  height: 15%;
  background-color: #C5802A;
}

/*# sourceMappingURL=Experiences.css.map */
