.content.experiences .img-container {
  width: 300px;
  margin: 30px auto;
}
.content.experiences .img-container.step1 {
  max-height: 130px;
  overflow: hidden;
}
.content.experiences .img-container.step2 {
  max-height: 265px;
  overflow: hidden;
}
.content.experiences .img-container.step3 {
  max-height: none;
}
.content.experiences p {
  text-align: left;
  color: #4191B5;
  font-size: 1.3rem;
}
.content.experiences .selector {
  position: relative;
  width: 90px;
  height: 13px;
  margin: 0 auto;
}
.content.experiences .selector .line {
  position: absolute;
  top: 6px;
  border-bottom: 2px solid #161430;
  width: 100%;
}
.content.experiences .selector .circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #161430;
  top: 50%;
}
.content.experiences .selector .circle.active {
  width: 13px;
  height: 13px;
}
.content.experiences .selector div:nth-child(2) {
  left: 0;
  transform: translateY(-50%);
}
.content.experiences .selector div:nth-child(3) {
  left: 50%;
  transform: translate(-50%, -50%);
}
.content.experiences .selector div:nth-child(4) {
  left: 100%;
  transform: translate(-100%, -50%);
}
.content.experiences .buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.content.experiences .buttons button {
  height: 60px;
  width: 160px;
  border-radius: 24px;
  border: 3px solid #161430;
  font-size: 1.6rem;
}
.content.experiences .buttons button:hover {
  cursor: pointer;
}
.content.experiences .buttons button:nth-child(1) {
  background-color: transparent;
  color: #161430;
}
.content.experiences .buttons button:nth-child(2) {
  color: #F4FBFE;
  background-color: #161430;
}
.content.experiences .card {
  margin: 20px auto;
}
.content.experiences .card h3 {
  text-transform: uppercase;
  color: #161430;
  font-size: 1.6rem;
  font-weight: 500;
}
.content.experiences .card .graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: -10px;
}
.content.experiences .card .graph .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.content.experiences .card .graph .skill p {
  margin-top: 5px;
}
.content.experiences .card .graph .bar {
  height: 80px;
  width: 30px;
  position: relative;
}
.content.experiences .card .graph .bar .gauge-bg {
  height: 100%;
  background-color: #24468F;
  opacity: 18%;
  border-radius: 5px;
}
.content.experiences .card .graph .bar .gauge {
  width: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}
.content.experiences .card .graph .break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.content.experiences .card .graph .mysql .gauge {
  height: 60%;
  background-color: #FF7A23;
}
.content.experiences .card .graph .postgresql .gauge {
  height: 65%;
  background-color: #2769B8;
}
.content.experiences .card .graph .mongodb .gauge {
  height: 70%;
  background-color: #46BB5C;
}
.content.experiences .card .graph .html .gauge {
  height: 30%;
  background-color: #FF7A23;
}
.content.experiences .card .graph .css .gauge {
  height: 40%;
  background-color: #2769B8;
}
.content.experiences .card .graph .js .gauge {
  height: 35%;
  background-color: #FFEA3D;
}
.content.experiences .card .graph .sass .gauge {
  height: 30%;
  background-color: #E42C1A;
}
.content.experiences .card .graph .react .gauge {
  height: 20%;
  background-color: #00B8F1;
}
.content.experiences .card .graph .prestashop .gauge {
  height: 15%;
  background-color: #FB3099;
}
.content.experiences .card .graph .wordpress .gauge {
  height: 10%;
  background-color: #1490D0;
}

/*# sourceMappingURL=Experiences.css.map */
