$pale-blue: #4191B5;
$light-green: #04D596;
$dark-blue: #161430;
$marine-blue: #24468F;
$very-lght-blue: #F4FBFE;
$light-grey: #707070;
$grayish-blue: #E6F0FF;
.content.experiences {
    .img-container {
        width: 300px;
        margin: 30px auto;
        &.step1 {
            max-height: 130px;
            overflow: hidden;
        }
        &.step2 {
            max-height: 265px;
            overflow: hidden;
        }
        &.step3 {
            max-height: none;
        }
    }
    p {
        text-align: left;
        color: $pale-blue;
        font-size: 1.3rem;
    }
    .selector {
        position: relative;
        width: 90px;
        height: 13px;
        margin: 0 auto;
        .line {
            position: absolute;
            top: 6px;
            border-bottom: 2px solid $dark-blue;
            width: 100%;
        }
        .circle {
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $dark-blue;
            top: 50%;
        }
        .circle.active {
            width: 13px;
            height: 13px;
        }
        div:nth-child(2) {
            left: 0;
            transform: translateY(-50%);
        }
        div:nth-child(3) {
            left: 50%;
            transform: translate(-50%, -50%);
        }
        div:nth-child(4) {
            left: 100%;
            transform: translate(-100%, -50%)
        }
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        margin: 30px auto;
        button {
            height: 60px;
            width: 160px;
            border-radius: 24px;
            border: 3px solid $dark-blue;
            font-size: 1.6rem;
            &:hover {
                cursor: pointer;
            }
        }
        button:nth-child(1) {
            background-color: transparent;
            color: $dark-blue;
        }
        button:nth-child(2)  {
            color: $very-lght-blue;
            background-color: $dark-blue;
        }
    }
    .card {
        margin: 20px auto;
        h3 {
            text-transform: uppercase;
            color: $dark-blue;
            font-size: 1.6rem;
            font-weight: 500;
        }
        .graph {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: -10px;
            .skill {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                position: relative;
                p {
                    position: absolute;
                    bottom: 0px;
                }
            }
            .bar {
                height: 80px;
                width: 30px;
                position: relative;
                margin-bottom: 23px;
                .gauge-bg {
                    height: 100%;
                    background-color: $marine-blue;
                    opacity: 18%;
                    border-radius: 5px;
                }
                .gauge {
                    width: 100%;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                }
            }
            .break {
                flex-basis: 100%;
                width: 0px;
                height: 0px;
                overflow: hidden;
            }
            .mysql .gauge {
                height: 60%;
                background-color: #FF7A23;
            }
            .postgresql .gauge {
                height: 65%;
                background-color: #2769B8;
            }
            .mongodb .gauge {
                height: 70%;
                background-color: #46BB5C;
            }
            .html .gauge {
                height: 30%;
                background-color: #FF7A23;
            }
            .css .gauge {
                height: 40%;
                background-color: #2769B8;
            }
            .js .gauge {
                height: 35%;
                background-color: #FFEA3D;
            }
            .sass .gauge {
                height: 30%;
                background-color: #E42C1A;
            }
            .react .gauge {
                height: 20%;
                background-color: #00B8F1;
            }
            .prestashop .gauge {
                height: 15%;
                background-color: #FB3099;
            }
            .linux .gauge {
                height: 60%;
                background-color: #2B2E34;
            }
            .vmware .gauge {
                height: 50%;
                background-color: #FF7A23;
            }
            .vagrant .gauge {
                height: 40%;
                background-color: #11389D;
            }
            .ansible .gauge {
                height: 70%;
                background-color: #E42C1A;
            }
            .molecule .gauge {
                height: 40%;
                background-color: #59CBB7;
            }
            .python .gauge {
                height: 50%;
                background-color: #F3E55E;
            }
            .inspec .gauge {
                height: 15%;
                background-color: #FFB337;
            }
            .gitlab .gauge {
                height: 80%;
                background-color: #FF4E1B;
            }
            .rpm .gauge {
                height: 15%;
                background-color: #C5802A;
            }
        }
    }
}